html {
    box-sizing: border-box;
  }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: rgba(3, 3, 3, 0.726);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

header {
    height: 10vh;
    background-color: rgb(219, 151, 62);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header > a {
    width: 10%;

    display: flex;
    justify-content: space-between;
}

#section1 {
    height: 10vh;
    background-color: aquamarine;
}

footer {
    height: 10vh;
    background-color: rgb(214, 80, 62);
}

#section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

#timeline {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#timeline .event {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 5em;
}

#timeline .event .when{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border: 2px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#timeline .event .when .when__start{
  text-align: left;
  font-size: large;
}

#timeline .event .when .when__end{
  text-align: right;
  font-size: large;
}

#timeline .to{
  display: flex;
  align-items: center;
  width: 20%;
  height: 100px;
}

#timeline .event .what{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border: 2px solid #dfe1e5;
  border-radius: 24px;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

#timeline .event .what .what__icon{
  width: 20%;
  text-align: center;
}

#timeline .event .what .what__titre{
  width: 80%;
  text-align: left
}
