body{
    margin: 0;
    padding: 0;
}
.commun{
    width: 100%;
    height: 40vh;
    background-color: red;
}

#box1{
    width: 100px;
    height: 20vh;
    background-color: royalblue;
}

.perso{
    width: 100%;
    height: 40vh;
    background-color: green;
}